@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}


/******************************************* NAVBAR ****************************************/

.navbar {
  z-index: 2;
}

.logo {
  width: 6.25rem;

}

/*--- MENU LINKS ---*/
nav a.nav link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brend {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/******************************************* HEADER ****************************************/

.header-wraper {
  position: relative;
  background: url(./images/bck-my.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh; 
  z-index: 1;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/*--- TYPED TEXT ---*/

.typed-text {
  font-size: 2rem;
  color: white;
}

/*--- HEADER MAIN OFFER BUTTON ---*/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/******************************************* ABOUT ME ****************************************/

.about-div {
  background-color: white;
  height: 90vh; 
}

.about-container {
  padding-top: 100px; 
}

.about-row {
  align-items: center;
}

.about-img {
  height: 25rem; /* 400px*/
  box-shadow: 0.625rem 0.3125rem 0.3125rem wheat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(50%);
}

.about-img:hover, .about-img:focus, .about-img:active {
  -webkit-transform: scale(1.01);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  transform: scale(1.01);
  filter: brightness(100%);
}

.about-name {
  color: var(--primary-orange);
  text-align: center;
  padding-top: 10px;
}

.about-name:hover, .about-name:focus, .about-name:active {
  -webkit-transform: scale(1.05);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  transform: scale(1.05);
  text-shadow: 0 0 3px #FF0000;
}

.about-study {
  border: 0.125rem solid black;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0.625rem 0.3125rem 0.3125rem #9fd3c7;
 
}

.about-study:hover, .about-study:focus, .about-study:active {
  background-color: #9fd3c7;
  -webkit-transform: scale(1.05);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  transform: scale(1.05);
}

.about-study > h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.about-study > p {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-work {
  border: 0.125rem solid black;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0.625rem 0.3125rem 0.3125rem #9fd3c7;
}

.about-work:hover, .about-work:focus, .about-work:active {
  background-color: #9fd3c7;
  -webkit-transform: scale(1.05);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  transform: scale(1.05);
}

.about-work > h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.about-work > p {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-today {
  border: 0.125rem solid black;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0.625rem 0.3125rem 0.3125rem #9fd3c7;
}

.about-today:hover, .about-today:focus, .about-today:active {
  background-color: #9fd3c7;
  -webkit-transform: scale(1.05);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  transform: scale(1.05);
}

.about-today > h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.about-today > p {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/******************************************* SKILLS ****************************************/

.div-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-html {
  width: 70%;
}

.html-card:hover, .html-card:focus, .html-card:active {
  -webkit-transform: scale(1.01);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transform: scale(1.01);
  background-color: #455d7a;
}

.progress-css {
  width: 55%;
}

.css-card:hover, .css-card:focus, .css-card:active {
  -webkit-transform: scale(1.01);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transform: scale(1.01);
  background-color: #afc5ff;
}

.progress-js {
  width: 40%;
}

.js-card:hover, .js-card:focus, .js-card:active {
  -webkit-transform: scale(1.01);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transform: scale(1.01);
  background-color: #f8f398;
}
.progress-react {
  width: 40%;
}

.react-card:hover, .react-card:focus, .react-card:active {
  -webkit-transform: scale(1.01);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transform: scale(1.01);
  background-color: #455d7a;
}

.progres-bootstrap {
  width: 50%;
}

.bootstrap-card:hover, .bootstrap-card:focus, .bootstrap-card:active {
  -webkit-transform: scale(1.01);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transform: scale(1.01);
  background-color: #afc5ff;
}

.progress-git {
  width: 50%;
}

.git-card:hover, .git-card:focus, .git-card:active {
  -webkit-transform: scale(1.01);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transform: scale(1.01);
  background-color: #f8f398;
}

.progress .progress-bar {
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.0s;
}

@keyframes animateBar {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}